<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié | Projet Écologique</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="description" content="Récupérez votre mot de passe.">
     <script src="assets/js/validation.js"></script>
</head>

<body>
<link rel="stylesheet" href="../../../../public/assets/css/return-dashboard.css">
<a class="voyagio-return-dashboard" href="../../../../dashboard.php">&larr; Dashboard</a>


    <div class="auth-wrapper">
        <div class="card">
            <div class="card-header">
                <h2>Récupération de compte</h2>
                <p>Veuillez entrer vos informations pour récupérer votre mot de passe</p>
            </div>

            <form action="../Controller/UserController.php?action=forgotPassword" method="POST" novalidate>
                <div class="form-group">
                    <label for="fullname">Nom</label>
                    <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Votre nom">
                </div>

                <div class="form-group">
                    <label for="email">Adresse Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="exemple@domaine.com">
                </div>


                <button type="submit" class="btn btn-accent">Récupérer</button>
            </form>

            <div class="auth-footer">
                <p>Je me souviens de mon mot de passe ! <a href="login.html">Se connecter</a></p>
            </div>
        </div>
    </div>

</body>

</html>
